<div class="post">
  <div style="padding: 5px">
    {% if post.user == user %}
      <div class="post__options">
        <button id="post-edit-button-{{ post.id }}" data-post_id="{{ post.id }}" class="post__edit-button"><i class="fas fa-edit mr-1"></i>edit</button>
        <button id="post-save-button-{{ post.id }}" data-post_id="{{ post.id }}" class="post__save-button" style="margin-bottom: 5px;display: none">save</button>
        <button id="post-cancel-button-{{ post.id }}" data-post_id="{{ post.id }}" class="post__cancel-button" style="margin-bottom: 5px;display: none">cancel</button>
      </div>

      <textarea
        rows="1"
        disabled
        class="post__content-form"
        id="post__content-form-{{post.id}}"
        style="width: 100%;"
        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' 
        data-content="{{post.content}}"
      ></textarea>
      
      <script>

        function resize () {
            var text = document.getElementById('post__content-form-{{post.id}}');
            text.style.height = "auto";
            text.style.height = text.scrollHeight+'px';
        }
        
        document.querySelector("#post-edit-button-{{ post.id }}").addEventListener('click', () => {
          document.querySelector("#post__content-form-{{post.id}}").disabled = false;
          document.querySelector("#post-edit-button-{{ post.id }}").style.display = "none";
          document.querySelector("#post-save-button-{{ post.id }}").style.display = "block";
          document.querySelector("#post-cancel-button-{{ post.id }}").style.display = "block";
        })

        document.querySelector("#post-save-button-{{ post.id }}").addEventListener('click', () => {
          
          fetch(`/edit_post/${document.querySelector("#post-edit-button-{{ post.id }}").dataset.post_id}`, {
            method: 'POST',
            body: JSON.stringify({
                content: document.querySelector("#post__content-form-{{post.id}}").value,
            })
          })
          .then(response => response.json())
          .then(result => {

            alert(result.message)

            if (result.status == "success") {
              document.querySelector("#post__content-form-{{post.id}}").dataset.content = document.querySelector("#post__content-form-{{post.id}}").value
            } else {
              document.querySelector("#post__content-form-{{post.id}}").value = document.querySelector("#post__content-form-{{post.id}}").dataset.content;
            }

            document.querySelector("#post__content-form-{{post.id}}").disabled = true;

            document.querySelector("#post-edit-button-{{ post.id }}").style.display = "block";
            document.querySelector("#post-save-button-{{ post.id }}").style.display = "none";
            document.querySelector("#post-cancel-button-{{ post.id }}").style.display = "none";
          })
        })

        document.querySelector("#post-cancel-button-{{ post.id }}").addEventListener('click', () => {

          document.querySelector("#post__content-form-{{post.id}}").value = document.querySelector("#post__content-form-{{post.id}}").dataset.content;

          document.querySelector("#post__content-form-{{post.id}}").disabled = true;
          document.querySelector("#post-edit-button-{{ post.id }}").style.display = "block";
          document.querySelector("#post-save-button-{{ post.id }}").style.display = "none";
          document.querySelector("#post-cancel-button-{{ post.id }}").style.display = "none";

          document.getElementById('post__content-form-{{post.id}}').style.height = "auto";

          document.getElementById('post__content-form-{{post.id}}').style.height = document.getElementById('post__content-form-{{post.id}}').scrollHeight+'px';
        })

        document.querySelector("#post__content-form-{{post.id}}").value = document.querySelector("#post__content-form-{{post.id}}").dataset.content;
        
        resize();
      </script>
    {% else %}
      <textarea
        rows="1"
        disabled
        class="post__content-form"
        id="post__content-form-{{post.id}}"
        style="width: 100%;"
        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' 
        data-content="{{post.content}}"
      ></textarea>

      <script>
        function resize () {
            var text = document.getElementById('post__content-form-{{post.id}}');
            text.style.height = "auto";
            text.style.height = text.scrollHeight+'px';
        }

        document.querySelector("#post__content-form-{{post.id}}").value = document.querySelector("#post__content-form-{{post.id}}").dataset.content;
        
        resize();
      </script>
    {% endif %}

  </div>
  
  <div class="post__footer">
    <div class="d-flex align-items-center post__footer-author-info">
      <span><a href="{% url 'profile' post.user.username %}">@{{ post.user.username }}</a></span>
      <span class="post__footer-date">{{ post.created_at }}</span>
    </div>
    <div class="post__footer-options">
      {% if user.is_authenticated %}
        <span class="like-button {% if user_liked %}post__liked-button{% endif %}" data-post_id="{{ post.id }}" data-likes="{{ post.likes.all|length }}"><i class="fas fa-thumbs-up"></i> {{ post.likes.all|length }}</span>
      {% else %}
        <span data-post_id="{{ post.id }}" data-likes="{{ post.likes.all|length }}"><i class="fas fa-thumbs-up"></i> {{ post.likes.all|length }}</span>
      {% endif %}
    </div>
  </div>
</div>