{% extends "network/layout.html" %}

{% block body %}
    <div class="main__container">
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'index' %}" class="post__form">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Post</button>
            </form>
        {% endif %}

        {% if not posts %}
            <p>There are not any posts. Use the form to create a post.</p>
        {% else %}
            {% for post in posts %}
                {% include 'snippets/post.html' with post=post.post user_liked=post.user_liked %}
            {% endfor %}
       
            {% include 'snippets/pagination.html' with posts=posts num_pages=num_pages view='page' %}
        {% endif %}
    </div>

    
{% endblock %}